<ion-header>
  <ion-toolbar>
    <ion-title>
     Spam
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="undefined">
   
  </ion-header>

  <img src="../../assets/icon/fondo.jpg" alt="" srcset="">
  <app-explore-container name="TouLand"></app-explore-container>



<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Primer Beta</ion-card-subtitle>
    <ion-card-title>TouLand</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Por fin luego de tanta espera aquí está la primer beta abierta del juego TouLand, ven aventurate y cuentanos tus experiencias.
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-item>
    <ion-icon name="pin" slot="start"></ion-icon>
    <ion-label>Entra a nuestra pagina</ion-label>
    <ion-button href="https://www.facebook.com/TouLand-103612618833202"  >View</ion-button>
  </ion-item>

  <ion-card-content>
    Accede a este juego a traves de nuestra pagina de Facebook
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-item href="https://mail.google.com/" class="ion-activated">
    <ion-icon name="chatbox-ellipses-sharp" slot="start"></ion-icon>
    <ion-label>atenciontouland@gmail.com</ion-label>
  </ion-item>

</ion-card>

</ion-content>
